@import "tailwindcss";
@config "../../tailwind.config.ts";
@source "../../../../packages/*/src/**/*.{ts,tsx}";

@theme inline {
  --font-departure: "departure", sans-serif;
  --background: 0 0% 19%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 40%;
  --muted-foreground: 0 0% 74%;
  --card: 0 0% 11%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 11%;
  --popover-foreground: 0 0% 98%;
  --border: 0 0% 32%;
  --input: 0 0% 11%;
  --input-foreground: 0 0% 98%;
  --primary: 21 83% 53%;
  --primary-accent: 21 83% 53;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 27%;
  --secondary-accent: 0 0% 27%;
  --secondary-foreground: 0 0% 98%;
  --secondary-inverted: 0 0% 86%;
  --accent: 0 0% 27%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 84% 60%;
  --destructive-accent: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --success: 146 85% 35%;
  --success-foreground: 0 0% 98%;
  --warning: 17 80% 48%;
  --warning-foreground: 0 0% 98%;
  --ring: 21 83% 53%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-geist;
  }
  a:focus-visible,
  button:focus-visible {
    @apply ring-ring ring-2 focus-visible:ring-offset-2 ring-offset-background focus-visible:outline-none rounded;
  }
  b {
    @apply font-bold;
  }
}

html {
  scrollbar-gutter: stable;
}

@supports (scrollbar-gutter: stable) {
  html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0;
    margin-right: 0;
  }
}

@layer utilities {
  .no-scrollbar {
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
      display: none;
    }

    -ms-overflow-style: none;

    scrollbar-width: none;

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    scrollbar-base-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-track-color: transparent;
    scrollbar-arrow-color: transparent;
    scrollbar-shadow-color: transparent;
    scrollbar-darkshadow-color: transparent;
  }
}

@keyframes pulse-ring {
  0%,
  100% {
    box-shadow: 0 0 0 1px currentColor;
  }
  50% {
    box-shadow: 0 0 0 3px currentColor;
  }
}
